.card-container {
  margin: 10px;
  /* height: 300px;  */
  /* replace height 300px if title and subtitl added */
  height: 200px;
  padding: 0px !important;
}

.img-body {
  height: 200px;
  display: flex;
  justify-content: center;
  /* background: #7f9595; */

  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.img-body:hover {
  background-color: #e6e6e6;
}

.card-img-top {
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

.card-body {
  padding: 10px;
  background-color: #fff;
  border-bottom: 2px solid #7f9595;
  border-left: 2px solid #7f9595;
  border-right: 2px solid #7f9595;
}
